{% extends 'base.html.twig' %}

{% block title %}NotreHistoire{% endblock %}

{% block body %}
    <h1>NotreHistoire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ notre_histoire.id }}</td>
            </tr>
            <tr>
                <th>Images</th>
                <td>{{ notre_histoire.images }}</td>
            </tr>
            <tr>
                <th>Texte</th>
                <td>{{ notre_histoire.texte }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_notre_histoire_index') }}">back to list</a>

    <a href="{{ path('app_notre_histoire_edit', {'id': notre_histoire.id}) }}">edit</a>

    {{ include('notre_histoire/_delete_form.html.twig') }}
{% endblock %}
